/* src/pages/Dashboard/Dashboard.css */

.dashboard-container {
    display: flex;
  }
  
  .main-content {
    margin-left: 250px; /* Ajusta según el ancho del Sidebar */
    padding: 20px;
    flex: 1;
  }
  
  @media (max-width: 600px) {
    .main-content {
      margin-left: 0;
    }
  }
  